/* blue-grey mandarin*/
$wormhole: rgb(21, 23, 31);
$space-cadet: #2d3142ff;
$independence: #4f5d75ff;
$silver: #bfc0c0ff;
$white: #ffffffff;
$mandarin: #ef8354ff;
$mandarin-highlight: rgb(255, 160, 120);
