// Font variables
// roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
$text: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,900;1,100;1,200;1,300;1,400;1,600&display=swap');

$text: 'Work Sans', sans-serif;

// Colour Variables
// No other colours should exist on the page (except white and black).
// $dark-accent: chocolate;
// $bright-accent: orange;
// $light: lightgray;
// $mid: gray;
// $dark: lightslategray;
// $darkest: darkslategray;
// $highlight: turquoise;

/* blue-grey mandarin*/
$space-cadet: #2d3142ff;
$independence: #4f5d75ff;
$silver: #bfc0c0ff;
$white: #ffffffff;
$mandarin: #ef8354ff;

$dark-accent: chocolate;
$bright-accent: orange;
$light: lightgray;
$mid: gray;
$dark: lightslategray;
$darkest: darkslategray;
$highlight: turquoise;

* {
    font-family: $text;
    padding: 0px;
    margin: 0px;
}

#root {
    display: grid;
    height: 100vh;

    > * .found {
        background-color: $highlight;
    }

    > #landingPage {
        align-items: center;
        justify-content: space-evenly;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        background-color: $space-cadet;
        font-weight: 200;

        > h1 {
            display: flex;
            align-items: center;
            font-size: 4rem;
            font-weight: 600;
            color: $mandarin;

            > .accent {
                font-weight: 900;
                color: $white;
            }
        }

        > #newWarehouseButton {
            background-color: $mandarin;
            border: none;
            color: white;
            padding: 1rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 200;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 0.5rem;
            border: 1px solid rgb(255, 160, 120);
            transition-duration: 0.5s;

            &:hover {
                scale: 105%;
                filter: drop-shadow(0 0 0.75rem $mandarin);
            }
        }

        > #warehouseList {
            display: flex;
            flex-direction: column;
            background-color: $independence;
            border-radius: 0.5rem;
            padding: 0.5rem;
            min-height: 30%;
            max-height: 50%;
            min-width: 200px;
            max-width: 300px;
            // flex: 1;
            overflow-y: auto;

            > .warehouseCard {
                display: flex;
                margin: 0.5rem;
                font-size: 1rem;
                font-weight: 400;
                font-style: italic;
                background-color: $white;
                color: $space-cadet;
                border-radius: 0.5rem;

                &:hover {
                    filter: drop-shadow(0 0 0.75rem $space-cadet);
                }

                > .whInfo {
                    padding: 1rem;
                    flex: 1;
                    text-align: center;
                }

                > .loadButton {
                    flex: 1;
                    width: 50px;
                    border: none;
                    cursor: pointer;
                    background-color: $mandarin;
                    transition-duration: 1s;
                    border-radius: 0px 0.5rem 0.5rem 0px;
                    text-align: center;
                    padding: 15px 0;
                    color: white;
                    font-style: normal;
                    font-weight: 900;
                    transform: translateX(1px);
                    &:hover {
                        transform: translateX(10px);
                        filter: drop-shadow(0 0 0.75rem $mandarin);
                    }
                }
            }
        }
    }

    > #warehouse {
        display: grid;
        grid-row: 1 / 1;
        background-color: $dark-accent;

        > .location {
            display: flex;
            flex-direction: column-reverse;
            border: 1px solid white;
            padding: 5%;

            &:hover {
                background-color: $bright-accent;
            }

            > .palletBox {
                background-color: $darkest;
                border: 1px solid white;
                padding: 2px;
                height: 25%;
                color: white;
            }
        }
    }

    #sidebar {
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        background-color: $dark;

        #locationDetails {
            background-color: $bright-accent;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            padding: 5px;

            > .palletCard {
                padding: 5px;
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                background-color: $darkest;

                > .productCard {
                    flex: 1;
                    margin-top: 1px;
                    background-color: white;
                }
            }
            > .found {
                background-color: $highlight;
            }
        }

        > #searchWindow {
            display: flex;
            flex-direction: column;
            background-color: $highlight;
        }

        > #lotManager {
            display: flex;
            flex-direction: column;
            background-color: white;

            > #lotList {
                background-color: $darkest;
                padding: 5px;

                > .lotCard {
                    display: flex;
                    justify-content: space-between;
                    padding: 1px;
                    margin-top: 1px;
                    background-color: white;
                }
            }
        }

        #sidebarNav {
            position: sticky;
            top: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            background-color: $mid;
            > a {
                flex: 1;
                border: 1px solid $bright-accent;
                text-align: center;
                align-items: center;
            }
        }
    }
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (orientation: landscape) {
    #root {
        grid-template-columns: 70% 30%;
        grid-template-rows: 100%;
    }
}

@media (orientation: portrait) {
    #root {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
}
