// Font variables
// roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
$text: "Roboto", sans-serif;

// Colour Variables
// No other colours should exist on the page (except white and black).
$dark-accent: chocolate;
$bright-accent: orange;
$light: lightgray;
$mid: gray;
$dark: lightslategray;
$darkest: darkslategray;
$highlight: turquoise;

* {
    font-family: $text;
    padding: 0px;
    margin: 0px;
}

#root {
    display: grid;
    height: 100vh;

    > #warehouse {
        display: grid;
        grid-row: 1 / 1;
        background-color: $dark-accent;

        > .location {
            display: flex;
            flex-direction: column-reverse;
            border: 1px solid white;
            padding: 5%;

            &:hover {
                background-color: $bright-accent;
            }

            > .palletBox {
                background-color: $darkest;
                border: 1px solid white;
                padding: 2px;
                height: 25%;
            }
        }
    }

    #sidebar {
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        background-color: $dark;

        #locationDetails {
            background-color: $bright-accent;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            padding: 5px;

            > .palletCard {
                padding: 5px;
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                background-color: $darkest;

                > .productCard {
                    flex: 1;
                    margin-top: 1px;
                    background-color: white;
                }
            }
        }

        > #searchWindow {
            display: flex;
            flex-direction: column;
            background-color: $highlight;
        }

        > #lotManager {
            display: flex;
            flex-direction: column;
            background-color: white;
            overflow: scroll;

            > #lotList {
                background-color: $darkest;
                padding: 5px;

                > .lotCard {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 1px;
                    margin-top: 1px;
                    background-color: white;

                    > div {
                        color: white;
                        background-color:rgb(12, 11, 15);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1px;
                        margin-top: 1px;
                        padding: 20px;
                    }

                    > #lotCardLhs {
                        width: 50%;
                        flex-direction: row;
                        padding-right: 10%;
                    }

                        > div > button {
                            color: darkslateblue;
                            background-color:rgb(241, 144, 64);
                            height: 45px;
                            width: 45px;
                            border: none;
                            margin: 2px;
                            border-radius: 50%;
                        }

                    > #lotCardRhs {
                        width: 50%; 
                        display: flex;
                        flex-direction: column; 
                        justify-content: center;
                        color: lightgrey;  
                    }

                        > div > h3 {
                            color: white;
                        }

                        > div > ul > li {
                            margin: 0.8em;
                            list-style: none;
                            margin-top: 0.8em;
                        }
            
                }
            }
        }

        #sidebarNav {
            position: sticky;
            top: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            background-color: $mid;
            > a {
                flex: 1;
                border: 1px solid $bright-accent;
                text-align: center;
                align-items: center;
            }
        }
    }
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (orientation: landscape) {
    #root {
        grid-template-columns: 70% 30%;
        grid-template-rows: 100%;
    }
}

@media (orientation: portrait) {
    #root {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
}
