// Font variables
// roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
$text: "Roboto", sans-serif;

// Colour Variables
// No other colours should exist on the page (except white and black).
$dark-accent: chocolate;
$bright-accent: orange;
$light: lightgray;
$mid: gray;
$dark: lightslategray;
$darkest: darkslategray;
$mostdarkest: rgb(12, 11, 15);
$highlight: turquoise;
$lot-card-edit-buttons: rgb(255, 184, 125);
$edit-lot-card-height: 375px;

* {
    font-family: $text;
    padding: 0px;
    margin: 0px;
}

// TO BE MOVED AS APPROPRIATE //////
#lotForm {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5px 15px 0px;
}

.lotInputs {
    font-weight: 900;
    height: 20px;
    font-size: 1.2em;
    padding: 5px;
    margin: 10px;
    border: none;
}

.lotSelect {
    height: 33px;
}

#footerNewLot {   // New Lot, container holding the buttons
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: solid 2px $darkest;
}

#footerNewLot > button {   // New Lot, save / exit buttons
    color: darkslateblue;
    position: relative;
    bottom: 0px;
    background-color:rgb(255, 233, 215);
    height: 60px;
    width: 60px;
    border: none;
    margin: 5px 5px 5px 30px ;
    border-radius: 50%;
}

#footerNewLot > p {   // New Lot, save / exit buttons
    color: rgb(255, 150, 150);
    position: relative;
    width: 80%;
    left: 5%;
}

    
/////////////////////////////////

#root {
    display: grid;
    height: 100vh;

    > #warehouse {
        display: grid;
        grid-row: 1 / 1;
        background-color: $dark-accent;

        > .location {
            display: flex;
            flex-direction: column-reverse;
            border: 1px solid white;
            padding: 5%;

            &:hover {
                background-color: $bright-accent;
            }

            > .palletBox {
                background-color: $darkest;
                border: 1px solid white;
                padding: 2px;
                height: 25%;
            }
        }
    }

    #sidebar {
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        background-color: $dark;

        #locationDetails {
            background-color: $bright-accent;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            padding: 5px;

            > .palletCard {
                padding: 5px;
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                background-color: $darkest;

                > .productCard {
                    flex: 1;
                    margin-top: 1px;
                    background-color: white;
                }
            }
        }

        > #searchWindow {
            display: flex;
            flex-direction: column;
            background-color: $highlight;
        }

        > #lotManager {
            display: flex;
            flex-direction: column;
            overflow: scroll;
            background-color: $mostdarkest;

            > #lotManagerHeader {
                z-index: 2;
                margin: 10px;
                padding: 5px 25px 10px 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: solid 1px $darkest;
            }

                > #lotManagerHeader > div {
                    color: white
                }

                > #lotManagerHeader > div > h2 {
                    font-size: 1.4em;
                }

                > #lotManagerHeader > div > button {
                    color: darkslateblue;
                    background-color:rgb(255, 233, 215);
                    height: 30px;
                    width: 30px;
                    border: none;
                    margin: 5px ;
                    border-radius: 50%;
                }

            > div > #addLotFormButton {
                // div containing button
            }

            > #lotList {
                background-color: $mostdarkest;
                display: flex;
                flex-direction: column;

                
                > .editLotCard {
                    justify-self: center;
                    align-self: center;
                    width: 95%;
                    box-sizing: border-box;
                    box-shadow: $darkest 0px 20px 75px -5px, white 0px 20px 0px -5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    background-color: $mostdarkest;
                    height: $edit-lot-card-height;
                }
                
                    > div > h2 {
                        color: $lot-card-edit-buttons;
                        margin: 15px 15px 10px 15px;
                    }

                    >   div > #buttonContainer {
                        display: flex;
                        justify-content: space-evenly;
                        padding: 5px;
                        margin-top: 5px;
                    }

                        > div > div > button {
                            color: darkslateblue;
                            position: relative;
                            bottom: 0px;
                            background-color:rgb(255, 233, 215);
                            height: 60px;
                            width: 60px;
                            border: none;
                            margin: 5px ;
                            border-radius: 50%;
                        }

                        >  div > #buttonContainer > #exitLotButton {
                            background-color: white;
                        }

                        >  div > #buttonContainer > #saveLotButton {
                            background-color: white;
                        }

                        >  div > #buttonContainer > #deleteLotButton {
                            background-color: white;
                        }
                

                > .lotCard {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 1px;
                    margin-top: 1px;
                    background-color: $mostdarkest;
                    border-bottom: solid 1px $darkest;

                    > div {
                        color: white;
                        display: flex;
                        padding: 1px;
                    }

                    > #lotCardLhs {
                        width: 20%;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                    }

                        > div > button {
                            box-sizing: border-box;
                            border: solid $mostdarkest 5px;
                            // border: none;
                            color: darkslateblue;
                            background-color: $lot-card-edit-buttons;
                            margin: 5%;
                            border-radius: 50%;
                        }

                    > #lotCardMid {
                        max-width: 0%;
                        position: relative;
                        right: 20%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        white-space: nowrap;
                        padding: 3%;
                    }

                         > div > h2 {
                            font-size: 1em;
                            color: white;
                        }

                        > div > p {
                            color: lightgrey;
                            font-size: 0.8em;
                        }

                    > #lotCardRhs {
                        width: 30%; 
                        display: flex;
                        flex-direction: column; 
                        justify-content: center;
                        align-items: flex-start;
                        color: lightgrey; 
                    }

                        > div > ul > li {
                            font-size: 0.8em;
                            margin: 0.8em;
                            list-style: none;
                        }

                        > div > ul > li > hr {
                            width: 50px;
                        }

                        > div > ul > li > h3 {
                            color: white;
                        }
            
                }
            }
        }

        #sidebarNav {
            position: sticky;
            top: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            background-color: $mid;
            > a {
                flex: 1;
                border: 1px solid $bright-accent;
                text-align: center;
                align-items: center;
            }
        }
    }
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (orientation: landscape) {
    #root {
        grid-template-columns: 70% 30%;
        grid-template-rows: 100%;
    }
}

@media (orientation: portrait) {
    #root {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
}
